site_name: FTL How-Tos

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tabs
    - content.code.copy

plugins:
  - search

nav:
  - Home: index.md
  - Windows:
      - Overview: Windows/index.md
      - Active Directory: Windows/Active-Directory/index.md
      - Domain Controllers: Windows/Domain-Controllers/index.md
      - Exchange: Windows/Exchange/index.md
  - Homelab:
      - Overview: homelab/overview.md
